doctype html
html
  head
    title=title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')

    
    
    style.
      body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  body.w3-light-grey
    //
      w3-content defines a container for fixed size centered content,
      and is wrapped around the whole page content, except for the footer in this example
    .w3-content(style='max-width:1400px')
      // Header
      header.w3-container.w3-center.w3-padding-32
        h1
          b Super Shoot Man
        p
          | Jonathan Trejo Game Design Proposal 
          span.w3-tag CSCI 4920
      // Grid
      .w3-row
        // Blog entries
        .w3-col.l8.s12
          // Blog entry
          .w3-card-4.w3-margin.w3-white
            img(src='/images/hl1.jpg', alt='Header', style='width:100%')
            .w3-container
              h1
                b Final Product - Fall 2018
                  iframe(width='560', height='315', src='https://www.youtube.com/embed/Shc7Sb2TP6w', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
              h1
                b Download link  
            .w3-container
              p
                | Visit here: https://drive.google.com/open?id=1a1HZ5TagtwUmOem0_esK6jlnsodKdaGD
            .w3-container
              h1
                b Final Project Minimum Target
                  iframe(width='560', height='315', src='https://www.youtube.com/embed/92bnSvvbtRY?controls=0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .w3-container
              h1
                b Proposal
              h3
                b Introduction
              h5
                | Proposal for 'Super Shoot Man', 
                span.w3-opacity October 15, 2018
            .w3-container
              p
                | Super Shoot man will be a first person shooter built in the Unreal Engine 4, for Windows systems. The plan for this project is to design a sci-fi shooting game in which the player has to fight swarms of evil enimies called Zorgs. There will be different types of Zorgs with different actions. There will also be some type of destructable environment elements. It will also have multiple maps and levels. The game will take inspiration from games like Serious Sam and Half Life.
            .w3-container
              h3
                b Game Concept
            .w3-container
              p
                | Super Shoot man will have a set number of levels. Each level will have enemies that the user will have to eliminate for score. Score will depend on various factors such as where the shot was placed, and how quickly in succession each enemy was eliminated. Faster accurate shots will result in a higher combo.
              b
              p
                | For the sake of the scope of this project, there will be just one main level. This level will consist of several spawn points for enemies placed throughout the map. The map will also include different ways to destroy enemies such as exploding barrels or traps. As the level progresses, there will be more and more enemies
            .w3-container
              h3
                b Genre
            .w3-container
              p
                | Super Shoot Man will be an arena old school shooter. The goal of this project is to make a fast paced fun action game, similar to that of Quake Arena with different waves of enemies.
              hr
              p
                | The player will have to do their best to survive waves of hoards of enemies. Ammo and depending of time, weapons will be scattered throughout the map as well as health. The map will also contains different types of traps and hazards that will allow for killing enemies easier. Enemies will run towards the player. Different AI will be able to do different actions with different types of enemies, depending on the scope of the project. The game will be divided in waves of enemies, each wave will be a different level. As the game progresses there can be different maps. Enemies killed with accuracy and rate, then the player will have a higher score. 
            .w3-container
              h3
                b Platform
            .w3-container
              p
                | Super Shoot Man will be on the Windows 10 platform.
            .w3-container
              h3
                b Concept Art
              img(src='/images/art1.jpg', alt='HUD Example', style='width:100%') 
              img(src='/images/art2.jpg', alt='Map Layout', style='width:100%') 
            
              
          hr
          // Blog entry
        //
          .w3-card-4.w3-margin.w3-white
            img(src='/images/bridge.jpg', alt='Norway', style='width:100%')
            .w3-container
              h3
                b Update - Project Designs
              h5
                | Project Designs, 
                span.w3-opacity April 2, 2014
            .w3-container
              p
                | Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                | tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
          // END BLOG ENTRIES
          // Introduction menu
      
        .w3-col.l4
          // About Card
          .w3-card.w3-margin.w3-margin-top
            img(src='/images/avatar_g.jpg', style='width:100%; transform: rotate(180deg')
            .w3-container.w3-white
              h4
                b Jonathan Trejo
              p
                | Student at University of Colorado Denver studying Computer Science. Interests: music, rhythm based video games, and programming.
          // END Introduction Menu
          // END GRID
      br
      // END w3-content
      // Footer
      footer.w3-container.w3-dark-grey.w3-padding-32.w3-margin-top
        p
          | Site used for educational purposes only. Powered by 
          a(href='https://www.w3schools.com/w3css/default.asp', target='_blank') w3.css
